body{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;

}
.card_form{
    width: 400px;
    height: 400px;
}
.px{
    padding: 20px;
}



@media(max-width: 600px){
    .card_form{
        width: 100%;
    }
    .px{
        padding: 10px;
    }
    
}