
:root{
    --border_color: #dedede;
    --color_hbg: #00c583;
    --color_blue: #0079FF;
    --color_ggt: #8497;
    --color_wqe: #DFF6FF;
    --colo: #E8F9FD;
}

body{
    position: relative;
}

.cf{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}

.color_person{
    filter: invert(13%) sepia(89%) saturate(2%) hue-rotate(359deg) brightness(98%) contrast(84%);
}
.color_person_blue{
    filter: invert(28%) sepia(88%) saturate(4522%) hue-rotate(204deg) brightness(111%) contrast(101%);
}

.img_class{
    width: 80%;
}

.box_chat{
    width: 90%;
    height: 95%;
    border: 1px solid var(--border_color);
    overflow: hidden;
    background-color: #fff;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

.card_header{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 5px 30px;
    border-bottom:1px solid var(--border_color);
}
.img_profile{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    background-color: var(--color_wqe);
}
.img_profile img{
    width: 80%;
    color: var(--color_blue);
}

.name_profile{
    margin-left: 10px;
    display: flex;
    align-items: center;
}
.name_profile p{
    font-size: 18px;
    font-weight: 600;
    margin: 0px;
}
.user_profile{
    position: relative;
}
.xsz{
    display: flex;
}
.show_more{
    display: flex;
    align-items: end;
    cursor: pointer;
}
.show_more span{
    font-size: 30px;
}
.card_show_more{
    display: none;
    position: absolute;
    width: 200px;
    right: 0px;
    top: 45px;
    padding: 15px 20px;
    border-radius: 10px;
    z-index: 1000;
    background-color: #fff;
    border: 1px solid #DFF6FF;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.card_number{
    margin-bottom: 10px;
    border-bottom: 1px solid var(--border_color);
}
.card_number span{
    font-weight: 600;
}
.menu_list{
    text-decoration: none;
    padding: 10px 0px;
    color: #1f1f1f;
    display: flex;
    align-items: center;
    transition: 0.4s;
}
.menu_list:hover{
    color: var(--color_blue);
}
.menu_list img{
    width: 30px;
    height: 30px;
}




.card_body{
    width: 100%;
    height: calc(100% - 60px);
    display: flex;
    position: relative;
}
.card_users{
    width: 400px;
    height: 100%;
    border-right: 1px solid var(--border_color);
}
.card_chat{
    width: calc(100% - 400px);
    height: 100%;
}
.card_user_info{
    width: 350px;
    height: 100%;
    position: absolute;
    top: 0px;
    right: -350px;
    border-left: 1px solid var(--border_color);
    background-color: #fff;
}

.card_search{
    width: 100%;
    height: 70px;
    display: flex;
    padding: 20px;
}
.card_users_list{
    width: 100%;
    height: calc(100% - 70px);
}
.gtp{
    width: 100%;
    height: 100%;
}
#users_list{
    width: 100%;
    height: 100%;  
    padding: 15px; 
    padding-bottom: 100px;
    overflow-y:auto;
}



.bxcv{
    width: 100%;
    padding: 15px;
    cursor: pointer;
}
.bxcv:hover{
    border-radius: 4px;
    background-color: var(--color_blue);
}
.bxcv:hover p{
    color: #fff;
}

.chat_selected{
    background-color: var(--color_blue);
    border-radius: 4px;
}
.chat_selected p{
    color: #fff;
}
.card_img_profile_list{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    background-color: var(--color_wqe);
    /* background: rgb(0,121,255); */
    /* background: radial-gradient(circle, rgba(0,121,255,1) 60%, rgba(9,10,86,1) 100%); */
}
.card_img_profile_list img{
    font-size: 40px;
    width: 80%;
    /* background-color: #fff; */
    color: var(--color_blue);
}
.card_nm{
    margin-left: 10px;
    width: calc(100% - 60px);
}
.bxcus{
    display: flex;
    align-items: center;
}
.user_nickname{
    color: #1f1f1f;
    margin: 0px;
    font-size: 17px;
    font-weight: 600;
}
.card_nd{
    display: flex;
    justify-content: space-between;
}
.card_time_msg{
    margin: 0;
    color: #7f7f7f;
    font-size: 13px;
}
.last_msg{
    color: #545454;
    font-size: 15px;
    margin: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.bfdx{
    width: 100%;
    height: 100%;
}

.box_fgd{
    width: 100%;
    height: 100%;
}

.welcome{
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}
.icon_card{
    display: grid;
    place-items: center;
}
.icon_card span{
    font-size: 250px;
    color: var(--color_blue);
}
.welcome_mobile{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.hide{
    display: none;
}
.display{
    display: block;
}
.chat_box_contain{
    width: 100%;
    height: calc(100% - 75px);
}

.jkjs{
    width: 100%;
    height: calc(100% - 75px);
}

.chatxtg{
    width: 100%;
    height: calc(100% - 55px);
    position: relative;

}

.chatboxheader{
    width: 100%;
    height: 55px;
    border-bottom: 1px solid var(--border_color);
    padding: 7px 20px;
}
.chatboxmessage{
    width: 100%;
    height: 100%;
    padding-top: 25px;
    overflow-y: auto;
}
.chatboxfooter{
    position: relative;
    width: 100%;
    height: 75px;
    border-top: 1px solid var(--border_color);
}

.imguserprofile{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    background-color: var(--color_wqe);
}
.imguserprofile img{
    font-size: 30px;
    width: 80%;
    color: var(--color_blue);
}

.card_load_img{
    position: absolute;
    width: 100%;
    display: grid;
    top: 0px;
    place-items: center;
    background-color: rgb(0, 0, 0, 0.70);
}
.img_card{
    width: 80%;
    height: 100%;
    overflow: hidden;
    background-color: var(--border_color);
}
.imgxv{
    width: 100%;
    height: 100%;
    object-fit: contain !important;
    
}
.card_image{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    border-radius: 20px;
    margin: 10px 0px;
}
.card_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.form_text_msg{
    width: 100%;
    height: 100%;
    display: flex;
    padding: 10px 15px;
    align-items: center;
}
.card_add_file label{
    cursor: pointer;
    width: 40px;
    margin-right: 10px;
}
.card_add_file label img{
    font-size: 30px;
    width: 80%;
    color: #545454;
    transform: rotate(40deg);
}
textarea{
    width: calc(100% - 96px);
    height: 35px;
    max-height: 53px;
    border: none;
    resize: none;
    outline: none;
}
.btn_send_msg{
    width: 50px;
    height: 50px;
    padding: 6px;
    border-radius: 50%;
    background-color: var(--color_wqe);
    display: grid;
    place-items: center;
}
.btn_send_msg img{
    width: 80%;
    font-size: 30px;
    color: var(--color_blue);
}


.card_xnt{
    display: grid;
    place-items: center;
    margin-left: 10px;
}
.text_user_typping{
    margin: 0px;
    color: #7f7f7f;
    font-size: 14px;
    transition: 0.6s;
}
.user_name_selected{
    width: 100%;
    margin: 0px;
    font-size: 18px;
    font-weight: 500;
    height: 20px;
    text-decoration: none;
    color: var(--color_blue);
}

.box_msg{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 12px;
}
.each_message{
    border-radius: 30px;
    padding: 15px 25px;
}
.with_img{
    width: 450px;
}
.without_img{
    max-width: 70%;
}
.msg_right{
    justify-content: end;
    padding-right: 40px;
}
.msg_left{
    padding-left: 40px;
}
.colorleft{
    background-color: var(--color_wqe);
    
}
.colorright{
    background-color: var(--color_blue);
    color: #fff;
}
.msg{
    margin: 0px;
}

.time_msg{
    margin: 0px;
    width: 100%;
    color: #7f7f7f;
    font-size: 13px;
}



.btn_back{
    display: none;
}

/* show image */
.box_show_img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #070707b0;
    display: none;
    justify-content: center;
    align-items: center;
}
.card_btn_close_image{
    position: absolute;
    top: 40px;
    right: 30px;
    color: #fff;
    cursor: pointer;
}
.card_show_img{
    width: 80%;
    height: 90%;
    background-color: #191919;
}
.card_contain_image{
    width: 100%;
    height: 100%;
}
.card_contain_image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}



/* user info */
.info_box{
    width: 100%;
    height: 100%;
}
.close_card_user_info{
    cursor: pointer;
}
.close_card_user_info:hover{
    color: #e71010ca;
}
.card_imgUserProfile_info{
    width: 100%;
    display: flex;
    justify-content: center;
}
.imgUserProfile_info{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    overflow: hidden;
    background-color: var(--color_wqe);
    display: grid;
    place-items: center;
    margin-bottom: 10px;
}
.imgUserProfile_info img {
    width: 80%;
    color: var(--color_blue);
    font-size: 100px;
}
.info_user_name{
    margin: 0;
    text-align: center;
    font-size: 25px;
    font-weight: 600;

}
.info_user_number{
    margin: 0;
    text-align: center;
    font-size: 16px;
    color: #686868;

}
/* contact */
.head_contact{
    width: 100%;
    height: 40%;
}
.body_contact{
    padding: 15px;
    height: 60%;
}


/* galery */
.galery{
    width: 100%;
    height: calc(100% - 120px);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    overflow-y: auto;
}
.img_galery{
    /* width: 50%; */
    height: 185px;
    overflow: hidden;

}
.img_galery img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media(max-width: 1500px){
    .box_chat{
        width: 100%;
        height: 100%;
    }
}

@media(max-width: 600px){
    .user_profile{
        width: 100%;
    }
    .xsz{
        width: 100%;
        justify-content: space-between;
    }
    .card_header{
        background-color: #0b284a;
        color: #fff;
        padding: 5px 15px;
        border-bottom: none;
    }
    .card_search{
        background-color: #0b284a;
        color: #fff;
    }
    .btn_add{
        color: #ffff;
    }
    .card_number span{
        color: #1f1f1f;
    }
    .card_body{
        height: 100%;
    }
    .card_users{
        width: 100%;
        border-right: none;
    }
    .card_chat{
        display: none;
        width: 100%;
    }
    .chatboxheader{
        display: flex;
        padding: 7px 10px;
        background-color: #0b284a;
        color: #fff;
        position:sticky;
        top: 0%;
        /* z-index: 100; */
    }
    .chatboxfooter{
        position: fixed;
        bottom: 0;
        background-color: #fff;
    }
    .card_xnt a{
        color: #fff;
    }
    .card_xnt span{
        color: #e1e1e1;
    }

    .btn_back{
        display: flex;
        align-items: center;
        margin-right: 10px;
    }

    .card_user_info{
        width: 100%;
        right: -100%;
        border-left: none;
    }


    .bxcv{
        border-bottom: 1px solid var(--border_color);
    }
    
    .chat_selected{
        background-color: #fff;
        border-radius: 0px;
    }
    .chat_selected p{
        color: #292929;
    }

    .each_message{
        padding: 12px 23px;
    }
    .card_image{
        height: 200px;
        display: flex;
        border-radius: 20px;
        margin: 10px 0px;
    }
    .with_img{
        width: 250px;
    }
    .without_img{
        max-width: 80%;
    }
    .msg_right{
        padding-right: 20px;
    }
    .msg_left{
        padding-left: 20px;
    }

    /* show image */
    .card_btn_close_image{
        top: 30px;
        right: 20px;
        background-color: #2828289b;
        border-radius: 50%;
        display: grid;
        place-items: center;
    }
    .card_btn_close_image span{
        font-size: 40px;
        /* color: ; */
    }
    .card_show_img{
        width: 100%;
        height: 100%;
        /* background-color: #191919; */
    }
    .color_person{
        filter: invert(100%) sepia(99%) saturate(14%) hue-rotate(194deg) brightness(104%) contrast(100%);
    }


}

